<style>
*{
  /*https://fonts.google.com/selection?selection.family=Roboto*/
  font-family: 'Roboto', sans-serif;
  }
body {
  padding: 0;
  margin: 0;
  background: 'AliceBlue';
}

/*Header photo*/
.header {
  background-image: url("https://farm5.staticflickr.com/4324/35929713776_225e367839_k.jpg");
  background-position: center center;
  background: cover;
  height: 500px;
  width: 100%;
  zoom: 50%;
}

/*Carolyn Herkenham*/
h1 { color: #F8F9F9;
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  line-height: 50px;
  margin: 0;
  position: relative;
  padding-top: 100px;
  text-align: center;
  text-tranform: uppercase;
  top: 20%;
   }

/*Student.Scientist.Fledgling*/
h2 {color: #F8F9F9;
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
  line-height: 50px;
  margin: 0;
  position: relative;
  padding-top: 100px;
  text-align: center;
  text-tranform: lowercase;
  top: 20%;
  
}
  
     

</style>
