<style>

/*Targets all code to border-box model*/
* {
  box-sizing: border-box;
}

*{
  /*https://fonts.google.com/selection?selection.family=Roboto*/
  font-family: 'Roboto', sans-serif;
  }

body {
  padding: 0;
  margin: 0;
  background: #D6EAF8;
}

/*general box dimensions - could be apply to anything*/
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}  
  
/*Navigation bar*/
.header {
  background-color: #333; 
}
  
/*opening different tabs in navigation bar...I assume*/
.nav {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
 }
 
/*Font style of navigation bar*/
.nav li {
  color: #fff;
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-right: 25px;
  text-transform: uppercase;
}
  
/*background photo*/
.jumbotron {
  background: url(https://farm5.staticflickr.com/4324/35929713776_225e367839_k.jpg) no-repeat center center;
  background-size: cover;
  height: 1000px;
  width: 100%;
  zoom: 70%;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
 }
  
/*Carolyn Herkenham*/
.main h1 { color: #F8F9F9;
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  line-height: 10px;
  margin: 0;
  position: relative;
  padding-top: 100px;
  text-align: center;
  text-tranform: capitalize;
  top: 20%;
   }

/*Student.Scientist.Fledgling
h2 {color: #F8F9F9;
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
  line-height: 10px;
  margin: 0;
  position: relative;
  padding-top: 100px;
  text-align: center;
  text-tranform: lowercase;
  top: 20%;
  
}
  */
     

</style>
